*.o
*.lo
*.la
*.swp
.deps/
.libs/
Makefile
Makefile.in

/m4
/missing
/libtool
install-sh
ltmain.sh
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/stamp-h1
/depcomp
/compile

mtrack-test
