*.o
*.lo
*.la
*.swp
*.dirstamp
.deps/
.libs/
Makefile
Makefile.in

/m4
/missing
/libtool
install-sh
ltmain.sh
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/stamp-h1
/depcomp
/compile

debian/files
debian/xserver-xorg-input-mtrack.debhelper.log
debian/xserver-xorg-input-mtrack.substvars
debian/xserver-xorg-input-mtrack/

mtrack-test
