*.la
*.lo
*.o
*.sw?
*.swp
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.*
configure
depcomp
install-sh
libtool
libtool
ltmain.sh
m4
missing
mtrack-test
stamp-h1
