Source: xf86-input-multitouch
Section: misc
Priority: optional
Maintainer: Henrik Rydberg <rydberg@euromail.se>
Build-Depends:
	debhelper (>= 5),
	xserver-xorg-dev (>= 2:1.7.6.901),
	libmtdev-dev (>= 1.0.10)
Standards-Version: 3.7.2
Homepage: http://bitmath.org/code/multitouch/

Package: xf86-input-multitouch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmtdev1 (>= 1.0)
Description: Multitouch X input driver
 This X input driver provides gestures support for multitouch touchpads,
 in particular those with integrated button.
