#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build-arch:
	dh_testdir
	$(MAKE)

build-indep:

build: build-arch build-indep

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/xf86-input-multitouch install

binary-arch: build-arch install
	dh_testdir
	dh_testroot
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build-indep

binary: binary-arch binary-indep

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	dh_clean

.PHONY: build-arch build-indep build install binary-arch binary-indep binary clean

